@font-face {
  font-family: "Heading";
  font-style: normal;
  src: url("/fonts/sequel.woff2") format("woff2");
}

/* average-sans-regular - latin */
@font-face {
  font-family: "Button";
  font-style: normal;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}
/* lato-300 - latin */
@font-face {
  font-family: "Body";
  font-style: normal;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}
